In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('건설업전처리완료(target수정).csv')

In [3]:
df.head()

,ID,SQ1,SQ2,Q1_1A,Q1_1B,Q1_1C,Q1_2A,Q1_2B,Q1_2C,Q1_3,...,Q28_1,target,duration,55_ratio,55_plus,55_mul,foreign_ratio,women_ratio,syear_type,year
0,1,34177,1,2021,1,1,2022,12,31,5300,...,3,0,1,0.0,24,0,0.0,0.000000,20210.0,20212022
1,2,34176,1,2021,1,1,2022,2,31,5300,...,3,0,1,0.0,20,0,0.0,0.000000,20210.0,20212022
2,3,33633,2,2020,6,10,2022,11,23,13571,...,9,0,2,0.1,198,3240,0.0,0.033333,20200.0,20202022
3,4,34193,1,2019,11,23,2021,11,22,7216,...,4,0,2,0.5,21,98,0.0,0.071429,20190.0,20192021
4,5,31801,2,2021,5,14,2023,11,30,46022,...,3,0,2,0.1,11,10,0.0,0.200000,20210.0,20212023

In [4]:
df['type1'] = df['Q13_2'].apply(lambda x: 0 if x < 4 else 1)
df = df.drop(columns = 'Q13_2')

In [5]:
df['type2'] = df['Q13_4'].apply(lambda x: 0 if x < 4 else 1)
df = df.drop(columns = 'Q13_4')

In [6]:
df['type3'] = df['Q13_5'].apply(lambda x: 0 if x < 4 else 1)
df = df.drop(columns = 'Q13_5')

In [7]:
df['type4'] = df['Q13_6'].apply(lambda x: 0 if x < 4 else 1)
df = df.drop(columns = 'Q13_6')

In [8]:
df['type5'] = df[['Q13_7', 'Q13_13', 'Q13_14', 'Q13_15', 'Q13_16', 'Q13_17']].max(axis=1)
df['type5'] = df['type5'].apply(lambda x: 0 if x < 4 else 1)
df = df.drop(columns=['Q13_7', 'Q13_13', 'Q13_14', 'Q13_15', 'Q13_16', 'Q13_17'])

In [9]:
df['type6'] = df[['Q13_8', 'Q13_9', 'Q13_10', 'Q13_11', 'Q13_12']].max(axis=1)
df['type6'] = df['type6'].apply(lambda x: 0 if x < 4 else 1)
df = df.drop(columns=['Q13_8', 'Q13_9', 'Q13_10', 'Q13_11', 'Q13_12'])

In [10]:
df['type7'] = df['Q13_18'].apply(lambda x: 0 if x < 4 else 1)
df = df.drop(columns = 'Q13_18')

In [11]:
df['type8'] = df['Q13_19'].apply(lambda x: 0 if x < 4 else 1)
df = df.drop(columns = 'Q13_19')

In [12]:
df['type9'] = df['Q13_20'].apply(lambda x: 0 if x < 4 else 1)
df = df.drop(columns = 'Q13_20')

### 모델링

In [17]:
y = df[df['target']==1]['type4']
X = df[df['target']==1].drop(columns='type4')

In [18]:
from catboost import CatBoostClassifier

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from catboost import CatBoostClassifier

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, stratify = y, random_state = 0)

model = CatBoostClassifier(random_state=42, verbose=False)
model.fit(X_train, y_train)
pred = model.predict_proba(X_test)[:, 1]
score = roc_auc_score(y_test, pred)

In [21]:
print(score, pred.mean()) # type1

0.958981612446959 0.034571844651402346

In [17]:
print(score, pred.mean()) # type2

0.9084967320261438 0.03726267670702351

In [16]:
print(score, pred.mean()) # type3

0.7437800087298123 0.21887870794774938

In [20]:
print(score, pred.mean()) # type4

0.8285714285714285 0.06699528613137518

In [32]:
print(score, pred.mean()) # type5

0.9748987854251012 0.09921135008132315

In [36]:
print(score, pred.mean()) # type6

0.9053497942386831 0.20341301155672084

In [40]:
print(score, pred.mean()) # type7

0.8455074337427279 0.13213300753750618

In [44]:
print(score, pred.mean()) # type8

0.957825679475164 0.08263836551739567

In [48]:
print(score, pred.mean()) # type9

0.8917800118273211 0.14306523408264973